// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-list__container {
  display: none;
  position: absolute;
  top: 176px;
  background-color: #ffffff;
  margin: 5px auto 0;
  z-index: 2;
  .category-inner__container{
    ul{    
      width: 230px;
      li{
        a{
          text-decoration: none;
          background-color: #ffffff;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
          color: #222222;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
          line-height: 38px;
          padding: 3px 15px;
          &:hover{
            background-color: rgb(233, 232, 232);
            box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          }
          &:active{
            box-shadow: none;
          }
        }    
      }
    }
    .parent_category__ul{
      position: relative;
      .child-category__ul{
        position: absolute;
        top: 0;
        left: 230px;
        // z-index: 4;
        background-color: #ffffff;
        height: 572px;
        .grand_child-category__ul{
          position: absolute;
          top: 0;
          left: 230px;
          // z-index: 5;
          background-color: #ffffff;
          height: 572px;
        }
      }      
    }
  }
}

// あとから付け加えるcssは後に書かないと読み込まれる順番がおかしくなるから注意！
.open_category-list{
  display: block;
}